@import url(navbar.css);
@import url(global.css);

body.dark tr {
    color: var(--text-color);
}

/* Small screens (phones) */
@media (max-width: 600px) {
    main {
        font-size: 1rem;
    }
}

/* Medium screens (tablets) */
@media (max-width: 900px) {
    main {
        font-size: 1.1rem;
    }
}

/* Large screens (desktops) */
@media (min-width: 901px) {
    main {
        font-size: 1.2rem;
    }
}