@import url(navbar.css);
@import url(global.css);


main {
    font-family: "Roboto mono";
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}


/* Small screens (phones) */
@media (max-width: 600px) {
    form {
        font-size: 1rem;
    }
}

/* Medium screens (tablets) */
@media (max-width: 900px) {
    form {
        font-size: 1.1rem;
    }
}

/* Large screens (desktops) */
@media (min-width: 901px) {
    form {
        font-size: 1.2rem;
    }
}