:root {
    --background-color: aliceblue;
    --text-color: black;
    --dark-background-color: rgb(40, 62, 82);
    --dark-text-color: white;
}

body {
    background-color: var(--background-color, aliceblue);
    color: var(--text-color);
}

body.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

body.dark a {
    color: var(--dark-text-color);
}


/* Small screens (phones) */
@media (max-width: 600px) {
    main {
        font-size: 1rem;
    }
}

/* Medium screens (tablets) */
@media (max-width: 900px) {
    main {
        font-size: 1.1rem;
    }
}

/* Large screens (desktops) */
@media (min-width: 901px) {
    main {
        font-size: 1.2rem;
    }
}
